<section class="card"></section>

  <div>
    <h2>About</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque quidem,
      omnis ea illum in amet tempore, saepe dignissimos deleniti hic animi
      delectus ut ex, nihil consectetur asperiores exercitationem iusto! Optio?</p>
  </div>
</section>