<div class="h-screen md:flex">

<div
        class="relative overflow-hidden md:flex w-1/2 bg-gradient-to-tr from-blue-800 to-purple-700 i justify-around items-center hidden">
        <div>
            <h1 class="text-white font-bold text-4xl font-sans">Dental Manager Cloud</h1>
            <p class="text-white mt-1">Bienvenido al software N°1 en Latinoamerica</p>

        </div>
        <div class="absolute -bottom-32 -left-40 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
        <div class="absolute -bottom-40 -left-20 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
        <div class="absolute -top-40 -right-0 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
        <div class="absolute -top-20 -right-20 w-80 h-80 border-4 rounded-full border-opacity-30 border-t-8"></div>
    </div>
    <div class="flex md:w-1/2 justify-center py-10 items-center bg-white">


         {{#if user}}  
<button onclick="location.href='/patient/add'" class="block w-28 bg-red text-indigo-800 mt-4 py-2 rounded-2xl font-bold mb-2">Registrar Paciente</button>
<button onclick="location.href='/patients'" class="block w-28 bg-red text-indigo-800 mt-4 py-2 rounded-2xl font-bold mb-2">Listar Pacientes</button>
        {{else}}
<button onclick="location.href='/users/signin'" class="block w-28 bg-red text-indigo-800 mt-4 py-2 rounded-2xl font-bold mb-2">Iniciar Sesión</button>
        {{/if}}
            
          
        </form>
    </div>
    </div>
