<h1>Dental Manager Cloud</h1>

<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolores molestiae
  saepe rerum inventore, repellat, ipsam veniam nemo doloremque exercitationem
  quaerat eos quibusdam voluptates officiis, maiores porro vero minus quas
  explicabo.</p>
<footer>Footer</footer>