<nav class="nav" aria-label="Navegación principal">
  <ul class="nav__list">
    <li class="nav__item">
      <a href="#inicio" class="nav__link">Inicio</a>
    </li>
    <li class="nav__item">
      <a href="#sobre-mi" class="nav__link">Sobre Mí</a>
    </li>
    <li class="nav__item">
      <a href="#servicios" class="nav__link">Servicios</a>
    </li>
    <li class="nav__item">
      <a href="#aplicaciones" class="nav__link">Aplicaciones</a>
    </li>
    <li class="nav__item">
      <a href="/about" class="nav__link">About</a>
    </li>
  </ul>
</nav>