<div class="container mx-auto p-6">
    <form id="patientForm" action="/patient/new-patient" method="post"
        class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <h2 class="text-2xl font-bold mb-6 text-gray-800">Registro de Paciente</h2>

        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">

            <div>
                <label class="block text-gray-700 text-sm font-bold mb-2" for="nombre">
                    Nombre
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline peer focus:ring-2 required:valid: [.validated_&]:invalid:border-pink-600 [.validated_&]:invalid:ring-2 [.validated_&]:invalid:ring-pink-200"
                    id="nombre" name="nombre" type="text" placeholder="Nombres" required="" maxlength="50"
                    oninvalid="this.setCustomValidity('Por favor ingresa un nombre')" oninput="setCustomValidity('')">

            </div>

            <div>
                <label class="block text-gray-700 text-sm font-bold mb-2" for="apellidos">
                    Apellidos
                </label>


                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline peer focus:ring-2 [.validated_&]:invalid:border-pink-600 [.validated_&]:invalid:ring-2 [.validated_&]:invalid:ring-pink-200"
                    id="apellidos" name="apellidos" type="text" placeholder="Apellidos" required="" maxlength="50"
                    oninvalid="this.setCustomValidity('Por favor ingresa un apellido')" oninput="setCustomValidity('')">

            </div>



            <div>
                <label class="block text-gray-700 text-sm font-bold mb-2" for="numeroIdentificacion">
                    N煤mero de identificaci贸n
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="numeroIdentificacion" name="numeroIdentificacion" type="text"
                    placeholder="N煤mero de Identificaci贸n" required="" maxlength="20"
                    oninvalid="this.setCustomValidity('Por favor ingresa un Ingresar un numero de identificaci贸n')"
                    oninput="setCustomValidity('')">
            </div>

            <div>
                <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                    Email
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="email" name="email" type="email" placeholder="Email" required="" maxlength="30"
                    oninvalid="this.setCustomValidity('Por favor ingresa un Email')" oninput="setCustomValidity('')">
            </div>

            <div>
                <label class="block text-gray-700 text-sm font-bold mb-2" for="direccion">
                    Direcci贸n
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="direccion" name="direccion" type="text" placeholder="Direcci贸n" required="" maxlength="60"
                    oninvalid="this.setCustomValidity('Por favor ingresa una direcci贸n')"
                    oninput="setCustomValidity('')">
            </div>



            <div>
                <label class="block text-gray-700 text-sm font-bold mb-2" for="pais">
                    Pais
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="pais" name="pais" type="tel" placeholder="pais" required="" maxlength="30"
                    oninvalid="this.setCustomValidity('Por favor ingresa un Pais')" oninput="setCustomValidity('')">
            </div>

            <div>
                <label class="block text-gray-700 text-sm font-bold mb-2" for="observaciones">
                    observaciones
                </label>
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="observaciones" name="observaciones" type="tel" placeholder="Observaciones" maxlength="50">
            </div>



        </div>

        <div class="mt-6">
            <button
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit">
                Registrar Paciente
            </button>
        </div>
    </form>
</div>







{{!--
<div class="container mx-auto p-6"></div>
<form id="patientForm" action="/patient/new-patient" method="post"
    class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <h2 class="text-2xl font-bold mb-6 text-gray-800">Registro de Paciente</h2>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="tipo">
                Tipo *
            </label>
            <select id="tipo" name="tipo"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                <option>PACIENTE PRIMERA VEZ</option>
            </select>
        </div>

        <div>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="nombre">
                Nombre *
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="nombre" name="nombre" type="text" placeholder="Nombres">
        </div>

        <div>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="apellidos">
                Apellidos *
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="apellidos" name="apellidos" type="text" placeholder="Apellidos">
        </div>

        <div>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="tipoIdentificacion">
                Tipo de identificaci贸n *
            </label>
            <select id="tipoIdentificacion" name="tipoIdentificacion"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                <option>C茅dula De Ciudadan铆a</option>
            </select>
        </div>

        <div>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="numeroIdentificacion">
                N煤mero de identificaci贸n *
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="numeroIdentificacion" name="numeroIdentificacion" type="text"
                placeholder="N煤mero de Identificaci贸n">
        </div>

        <div>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="fechaNacimiento">
                Fecha de nacimiento *
            </label>
            <div class="grid grid-cols-3 gap-2">
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    type="text" placeholder="DD" name="diaNacimiento">
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    type="text" placeholder="MM" name="mesNacimiento">
                <input
                    class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    type="text" placeholder="AAAA" name="anioNacimiento">
            </div>
        </div>

        <div>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="genero">
                G茅nero *
            </label>
            <select id="genero" name="genero"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                <option>Masculino</option>
                <option>Femenino</option>
            </select>
        </div>

        <div>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="ocupacion">
                Ocupaci贸n
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="ocupacion" name="ocupacion" type="text" placeholder="Ocupaci贸n">
        </div>

        <div>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="grupoSanguineo">
                Grupo Sangu铆neo
            </label>
            <select id="grupoSanguineo" name="grupoSanguineo"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                <option>O+</option>
                <option>A+</option>
                <option>B+</option>
                <option>AB+</option>
                <option>O-</option>
                <option>A-</option>
                <option>B-</option>
                <option>AB-</option>
            </select>
        </div>

        <div>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="estadoCivil">
                Estado Civil
            </label>
            <select id="estadoCivil" name="estadoCivil"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                <option>Soltero</option>
                <option>Casado</option>
                <option>Divorciado</option>
                <option>Viudo</option>
            </select>
        </div>

        <div>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="nivelEducativo">
                Nivel educativo
            </label>
            <select id="nivelEducativo" name="nivelEducativo"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                <option>Profesional</option>
                <option>T茅cnico</option>
                <option>Bachiller</option>
                <option>Primaria</option>
            </select>
        </div>

        <div>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                Email *
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="email" name="email" type="email" placeholder="Email">
        </div>

        <div>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="direccion">
                Direcci贸n
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="direccion" name="direccion" type="text" placeholder="Direcci贸n">
        </div>

        <div>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="ciudad">
                Ciudad, municipio o localidad
            </label>
            <select id="ciudad" name="ciudad"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                <option>Suba (11-011)</option>
            </select>
        </div>

        <div>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="telefonoFijo">
                Celular
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="telefonoFijo" name="telefonoFijo" type="tel" placeholder="Celular">
        </div>

        <div>
            <label class="block text-gray-700 text-sm font-bold mb-2" for="telefonoMovil">
                Tel茅fono m贸vil
            </label>
            <div class="flex">
                <select
                    class="shadow appearance-none border rounded-l w-1/4 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    <option> +57</option>
                </select>
                <input
                    class="shadow appearance-none border rounded-r w-3/4 py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                    id="telefonoMovil" name="telefonoMovil" type="tel" placeholder="Numero">
            </div>
        </div>
    </div>

    <div class="mt-6">
        <button
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit">
            Registrar Paciente
        </button>
    </div>
</form>
</div> --}}